# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md

# Whitelist subdirectories 
!assets/
!audio/
!src/

# Ignore these
**/.DS_Store
**/PCH.hpp
**.log


